<div v-component="create-channel-modal" class="modal fade" tabindex="-1"></div>
<script id="create-channel-template" type="text/x-template">
{{> create_channel}}
</script>

<div v-component="create-source-modal" class="modal fade" tabindex="-1"></div>
<script id="create-source-template" type="text/x-template">
{{> create_source}}
</script>

<div v-component="create-message-modal" class="modal fade" tabindex="-1"></div>
<script id="create-message-template" type="text/x-template">
{{> create_message}}
</script>
