<div class="wrap">
	{{> menu}}

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div v-component="screens"></div>
			</div>
			<div class="col-md-6">
				<div v-component="channels"></div>
				<div v-component="sources"></div>
			</div>
		</div>
	</div>
</div>

<script id="screens-template" type="text/x-template">
{{> screens}}
</script>
<script id="channels-template" type="text/x-template">
{{> channels}}
</script>
<script id="sources-template" type="text/x-template">
{{> sources}}
</script>

{{> modal}}

{{#yield-script}}
<script src="/js/components/screens.js"></script>
<script src="/js/components/channels.js"></script>
<script src="/js/components/sources.js"></script>
<script src="/js/components/create-channel-modal.js"></script>
<script src="/js/components/create-source-modal.js"></script>
<script src="/js/components/create-message-modal.js"></script>
<script src="/js/admin.js"></script>
{{/yield-script}}
