<h2>
	Channels
	<button class="btn btn-sm btn-default" v-on="click: add">
		<span class="glyphicon glyphicon-plus-sign"></span>
	</button>
</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Source</th>
			<th>Operation</th>
		</tr>
	</thead>
	<tbody>
		<tr v-repeat="channels" class="channel-list">
			<td>[[name]]</td>
			<td>
				<input type="text" v-model="source.name" v-on="change: updateChannel($event, $index)">
			</td>
			<td>
				<button class="btn btn-xs btn-default" v-on="click: notify($event, $index)">
					<span class="glyphicon glyphicon-bullhorn"></span> notify
				</button>
				<button class="btn btn-xs btn-default" v-on="click: message($event, $index)">
					<span class="glyphicon glyphicon-bullhorn"></span> message
				</button>
				<button class="btn btn-xs btn-danger" v-on="click: remove($event, $index)">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>
